		@charset "utf-8";
	/* CSS Document */
	/*@import "menu.css";*/
	/** 清除内外边距  */
	body, h1, h2, h3, h4, h5, h6, hr, p,
	blockquote, /* structural elements 结构元素 */
	dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
	pre, /* text formatting elements 文本格式元素 */
	form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
	th, td, /* table elements 表格元素 */
	img/* img elements 图片元素 */{
	border:medium none;
	margin: 0;
	padding: 0;font-family:"微软雅黑";
	}
	/** 设置默认字体 **/
	body,button, input, select, textarea {
	font: 12px/1.5 '微软雅黑',tahoma, Srial, helvetica, sans-serif; }
	h1, h2, h3, h4, h5, h6 { font-size: 100%; }
	em{font-style:normal;}
	/** 重置列表元素 **/
	ul, ol { list-style: none;}
	/** 重置超链接元素 **/
	a { text-decoration: none; color:#000;}
	/** 重置图片元素 **/
	/** 重置表格元素 **/
	table { border-collapse: collapse; border-spacing: 0; }
	*{padding:0;margin:0;font-size:12px;}
	button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
	img/* img elements 图片元素 */,select,option{
	border:medium none;
	margin: 0;
	padding: 0;font-family:"微软雅黑";
	list-style:none;border:none;
	border:none;
	background-color:none;
	
	overflow: hidden; /*隐藏了小三角，因为宽度为110px,而select宽度为130px*/border-width:0px;border-top-style: none; border-right-style: none; 
border-left-style: none; 
border-bottom-style: none;
	}
	button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
	input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
	input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
	input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
	button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
	textarea { overflow: auto; vertical-align: top; resize: vertical; }
	select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
	}
	
	
	/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
	select::-ms-expand { display: none; }
	
	body{width:100%;background-color:#eeeeee;}
	/*adjustLine*/
		/*select*/
	.control_card{font-size:13px;line-height:40px;color:#666666;padding-left:16px;width:100%;height:40px;list-style: none;background-image:url(../images/select_bg.png);background-size:100% 100%;margin-bottom:60px;}
	 option{width:100%;height:40px;display:block;line-height:40px;display:block;font-size:24px;}
	 .control_card .value_mun{font-size:4em;width:100%;height:50px;text-align:center;line-height:50px;}
	
	.adjustLine_content{width:100%;padding-bottom:20px;background-color:white;}
	.adjustLine_content .ApplyAmount{width:80%;height:40px;text-align:center;line-height:40px;font-size:16px;background-color:#e05d4f;margin-left:10%;color:white;border-radius:8px;margin-top:16px;border:1px solid #eeeeee;margin-bottom:16px;}
	.adjustLine_content .UpgradeProgress{width:80%;height:40px;text-align:center;line-height:40px;font-size:16px;background-color:#fafafa;margin-left:10%;color:#666666;border-radius:8px;margin-top:16px;border:1px solid #eeeeee;margin-bottom:16px;}
	.adjustLine_content .adjustLine_title{font-size:14px;text-align:center;line-height:40px;color:#999999;background-color:#eeeeee;}
	
	/*wait*/
	.wait_box{width:100%;height:100%;position:fixed;background-image:url(../images/black.png);left:0;top:0;display:none;}
	.wait_box .tip_box{width:72%;position:relative;left:14%;top:50%;margin-top:-100px;}
	.wait_box .tip_box img{width:40px;height:40px;margin-left:auto;margin-right:auto;display:block;
	}
	.wait_box .tip_box .wait_text{margin-left:auto;text-align:center;display:block;font-size:16px;color:#eeeeee;font-weight:bold;}
	