@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body {
	background: #cacaca;
	font-size: 62.5%;
	font-family: "微软雅黑", "Arial";
	-webkit-text-size-adjust: none;
}
.CreditCardInformation_main {
	box-shadow: #777 0 0.4em 0.6em;
}
.CreditCardInformation_main_small {
	background-color: #fff;
	font-size: 14px;
}
/*用于屏幕宽度小于240像素的手机*/
.PayInfoTitle_240 {
	font-family: Arial;
	padding: 0px;
	padding-left: 10px;
	width: 110px;
	text-align: left;
	color: #424348;
	float: left;
	line-height: 30px;
}
.Td_ALL {
	font-family: Arial;
	padding: 0px;
	padding-left: 10px;
	width: 70px;
	text-align: right;
	color: #424348;
}
.TdLeft {
	font-family: Arial;
	padding: 0px;
	padding-left: 10px;
	width: 70px;
	text-align: right;
	line-height: 30px;
	color: #424348;
	float: left;
}
.TdRight {
	font-family: Arial;
	padding: 0px;
	padding-right: 10px;
	color: #424348;
	float: left;
}
.TdPadding_7 {
	padding: 7px 0px;
}
div.VerifyCodeSendTip {
	font-family: Arial;
	padding-left: 80px;
	padding-bottom: 7px;
}
div.WarmTip {
	font-family: Arial;
	font-size: 14px;
	padding: 0px 10px;
	padding-bottom: 7px;
	text-align: left;
	color: #6eb708;
}
.InputAll {
	font-family: Arial;
	margin: 0px;
	font-size: 16px;
	height: 24px;
	width: 120px;
	line-height: 24px;
}
.TheNum_3 {
	font-family: Arial;
	margin: 0px;
	font-size: 16px;
	height: 24px;
	line-height: 24px;
	color: #999;
}
.dateCard {
	font-family: Arial;
	padding: 0px 5px;
}
.Padding_7 {
	padding-top: 7px;
	padding-bottom: 7px;
}
.Bor_1 {
	background-color: #b8b8b8;
	height: 1px;
}
.Pay_sub {
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	height: 50px;
	margin: 10px 20px;
	margin-bottom: 0px;
}
.ImgYan {
	vertical-align: top;
}
.CardType {
	line-height: 30px;
}
.header {
	min-height: 3em;
	background: #222222;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #424242 /*{a-bup-background-start}*/), to( #222222 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #424242 /*{a-bup-background-start}*/, #222222 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #424242 /*{a-bup-background-start}*/, #222222 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #424242 /*{a-bup-background-start}*/, #222222 /*{a-bup-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #424242 /*{a-bup-background-start}*/, #222222 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #424242 /*{a-bup-background-start}*/, #222222 /*{a-bup-background-end}*/);
	box-shadow: #555 0 0.4em 0.5em;
	margin-bottom: 1em;
	position: relative;
}
.header h2 {
	font-size: 1.5em;
	font-family: "微软雅黑", "Arial";
	color: #fff;
	text-align: center;
	text-shadow: #000 0 0 2em;
	line-height: 2em;
}
.header span {
	display: block;
	font-size: 1.4em;
	position: absolute;
	height: 2em;
	width: 4.5em;
	background: #555;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #424242 /*{a-bup-background-start}*/), to( #2e2e2e /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #424242 /*{a-bup-background-start}*/, #2e2e2e /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #424242 /*{a-bup-background-start}*/, #2e2e2e /*{a-bup-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #424242 /*{a-bup-background-start}*/, #2e2e2e /*{a-bup-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #424242 /*{a-bup-background-start}*/, #2e2e2e /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #424242 /*{a-bup-background-start}*/, #2e2e2e /*{a-bup-background-end}*/);
	border-radius: 0.5em;
	line-height: 2em;
	color: #eee;
	text-align: right;
	text-shadow: #000 0 0 1.4em;
	padding-right: 0.5em;
	box-shadow: #000 0 0 0.5em;
	border-top: 0.1em solid #7a7a7a;
}
.header span:first-child {
	left: 1em;
	top: 0.4em;
	background: url(../images/1.png) no-repeat 0.2em 0.1em;
}
.header span:last-child {
	right: 1em;
	top: 0.4em;
	background: url(../images/1.png) no-repeat 0.2em -2.1em;
}
.main {
	margin: 0.5em;
	box-shadow: #555 0 0 0.5em;
	min-height: 5em;
	background: #e6e6e6;
	border-radius: 0.5em;
	padding: 0.5em;
}
.main table {
	background: #fff;
	width: 100%;
}
.box-s {
	box-shadow: #777 0 0.4em 0.6em;
}
.main table td h2 {
	font-size: 16px;
	font-family: "微软雅黑", "Arial";
	color: #7d7d7d;
	text-align: center;
	line-height: 1em;
	margin-top: 10px;
}
.main table .xian div {
	height: 0px;
	border-bottom: 1px dashed #7f7f7f;
	margin: 0.5em 0;
}
.main table .dan span {
	font-size: 14px;
	color: #7f7f7f;
	line-height: 2.2em;
}
.main table .dan span:first-child {
	float: left;
	width: 20%;
	min-width: 2em;
	text-align: left;
	white-space: nowrap;
	text-indent: 10px;
}
.main table .dan span:last-child {
	float: right;
	width: 70%;
	min-width: 2em;
	text-align: right;
	padding-right: 20px;
}
.main table .dan .bl {
	color: #b70b01;
	font-weight: 600;
}
.main table .dan .bi {
	font-size: 16px;
	line-height: 20px;
}
.ya {
	background: url(../images/1.png) 0em 10px;
	height: 10px;
	margin-bottom: 10px;
}
.yuan div {
	background: url(../images/1.png);
	height: 13px;
	margin-top: 10px;
}
.text_1 {
	display: block;
	width: 100%;
	border-radius: 0.5em;
	font-size: 16px;
	padding: 0;
	font-family: "微软雅黑", "Arial";
	border: 1px solid #999;
	text-indent: 0.4em;
	box-shadow: #339de8 0 0em 0.5em;
	height: 40px;
	margin-bottom: 1em;
}
.kuang {
	padding: 0em 1.5em 1.5em 1.5em;
}
.text_2 {
	display: block;
	width: 100%;
	border-radius: 0.5em;
	font-size: 16px;
	padding: 0;
	background: #b70b01;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e23024 /*{a-bup-background-start}*/), to( #b70b01 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e23024 /*{a-bup-background-start}*/, #b70b01 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #e23024 /*{a-bup-background-start}*/, #b70b01 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #e23024 /*{a-bup-background-start}*/, #b70b01 /*{a-bup-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #e23024 /*{a-bup-background-start}*/, #b70b01 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #e23024 /*{a-bup-background-start}*/, #b70b01 /*{a-bup-background-end}*/);
	border: 0;
	color: #fff;
	font-weight: 600;
	font-family: "微软雅黑", "Arial";
	height: 40px;
	border-top: 1px solid #aed0ff;
	box-shadow: #333 0 0.2em 0.3em;
}
.top-2 {
	display: block;
	width: 100%;
	border-radius: 0.5em;
	font-size: 14px;
	padding: 0.4em 0;
	background: #b70b01;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e23024 /*{a-bup-background-start}*/), to( #b70b01 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e23024 /*{a-bup-background-start}*/, #b70b01 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #e23024 /*{a-bup-background-start}*/, #b70b01 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #e23024 /*{a-bup-background-start}*/, #b70b01 /*{a-bup-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #e23024 /*{a-bup-background-start}*/, #b70b01 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #e23024 /*{a-bup-background-start}*/, #b70b01 /*{a-bup-background-end}*/);
	border: 0;
	color: #fff;
	font-weight: 600;
	font-family: "微软雅黑", "Arial";
	min-height: 20px;
	border-top: 1px solid #aed0ff;
	box-shadow: #333 0 0.2em 0.3em;
	position: relative;
}
.top-2 strong {
	font-size: 2em;
	line-height: 20px;
}
.top-2 span {
	padding-left: 1em;
	font-size: 1em;
}
.top-2 b {
	font-size: 12px;
	color: #b70b01;
	background: #fff;
	border-radius: 0.3em;
	padding: 1px 3px;
	font-weight: 100;
	position: absolute;
	bottom: 3px;
	right: 1em;
}
.pay-2 {
	padding: 0;
	box-shadow: #777 0 0.4em 0.6em;
}
.main .tab-2 .dan span:first-child {
	float: left;
	width: 20%;
	min-width: 2em;
	text-align: right;
	white-space: nowrap;
}
.main .tab-2 .dan span:last-child {
	float: right;
	width: 80%;
	min-width: 2em;
	text-align: left;
	text-indent: 1em;
}
.main .tab-2 .dan span:last-child input {
	float: left;
	width: 80%;
	min-width: 2em;
	text-align: left;
	text-indent: 1em;
	min-width: 2em;
	height: 2em;
	border-radius: 0.3em;
	font-size: 1.2em;
	line-height: 1.5em;
	margin-left: 1em;
	border: 1px solid #999;
}
.main .tab-2 td {
	padding-bottom: 1em;
}
.main .tab-2 .dan span:last-child b {
	float: left;
	font-weight: 100;
}
.main .tab-2 .dan span:last-child img {
	float: left;
	font-weight: 100;
}
body .main .tab-2 .dan .s-in input {
	float: left;
	width: 37%;
	min-width: 0.7em;
	text-align: left;
	text-indent: 1em;
	min-width: 2em;
	height: 2em;
	border-radius: 0.3em;
	font-size: 1.2em;
	line-height: 1.5em;
	margin-left: 1em;
	border: 1px solid #999;
}
.dis {
	display: none;
}
.fa-sub {
	display: block;
	width: 100%;
	border-radius: 0.5em;
	font-size: 1em;
	text-align: center;
	background: #b70b01;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e23024 /*{a-bup-background-start}*/), to( #b70b01 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e23024 /*{a-bup-background-start}*/, #b70b01 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #e23024 /*{a-bup-background-start}*/, #b70b01 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #e23024 /*{a-bup-background-start}*/, #b70b01 /*{a-bup-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #e23024 /*{a-bup-background-start}*/, #b70b01 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #e23024 /*{a-bup-background-start}*/, #b70b01 /*{a-bup-background-end}*/);
	border: 0;
	color: #fff;
	font-weight: 600;
	font-family: "微软雅黑", "Arial";
	height: 38px;
	line-height: 38px;
	border-top: 1px solid #aed0ff;
	box-shadow: #999 0 0.2em 0.1em;
}
.errMeg {
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
	color: #F00;
	text-align: center;
}
.bor-l-r {
	border-radius: 0em 0em 0.5em 0.5em;
	box-shadow: #777 0 0.4em 0.6em;
}
.yuan-top {
	border-radius: 0.5em 0.5em 0em 0em;
	box-shadow: #777 0 0.4em 0.6em;
	height: 10px;
	background: #fff;
}
.yuan-main {
	border-radius: 0.5em;
	box-shadow: #777 0 0.4em 0.6em;
	height: 10px;
	background: #fff;
	padding: 10px;
	margin-bottom: 10px;
	height: 70px;
	position: relative;
}
.yuan-main img {
	position: absolute;
	left: 50%;
	top: 15px;
	margin-left: -80px;
}
.yuan-main p {
	font-size: 18px;
	color: #777;
	font-weight: 600;
	text-align: center;
	padding: 10px;
}
.line {
	background: #bbb;
	height: 2px;
	margin-bottom: 5px;
}
.yuan-main b {
	display: block;
	height: 30px;
	text-align: center;
	font-size: 14px;
	font-weight: 100;
	color: #F00;
}
.yuan-main a {
	color: #00F;
	text-decoration: none;
}
