body{
	margin:0px;
	background-color:#e4e9ee;
	font-size:14px;
	-webkit-text-size-adjust:none;
}

div.Logo{
	background-color:#1a4ea0;
	border-top:#3f5c80 solid 2px;
	border-bottom:#051852 solid 2px;
	padding:5px 0px;
}

div.Logo .LogoImg{
	background-image:url(../images/mb_logo.png);
	background-position:center center;
	background-repeat:no-repeat;
	width:240px;
	height:30px;
}

div.BillTopImg{
	height:15px;
	margin:6px 16px 0px 16px;
}

table.ContentTable{
	border-collapse:collapse;
	width:100%;
}
/*出票口样式*/
div.BillTopImg .BillTopImgLeft{
	background-image:url(../images/mb_bill_top.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	width:7px;
	height:15px;
	padding:0px;
}

div.BillTopImg .BillTopImgMid{
	background-image:url(../images/mb_bill_top.png);
	background-position:0px -40px;
	background-repeat:repeat-x;
	height:15px;
}

div.BillTopImg .BillTopImgRight{
	background-image:url(../images/mb_bill_top.png);
	background-position:0px -20px;
	background-repeat:no-repeat;
	width:7px;	
	height:15px;
	padding:0px;
}

div.BillInfo{	
	background-color:#e9e1c8;
	background-image:url(../images/Watermark_sub.png);
	background-repeat:no-repeat;
	background-position:bottom right;
	font-family:Arial;
	font-size:14px;
	color:#424348;
	margin:0px 22px;
}

div.MyBill{
	font-size:18px;
	text-align:center;
	padding-bottom:5px;
}

div.spread{
	background-color:#e9e1c8;
	background-image:url(../images/mb_shrink_spread.png);
	background-position:0px -16px;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	position:absolute;
	top:67px;
	right:35px;
}

div.shrink{
	background-color:#e9e1c8;
	background-image:url(../images/mb_shrink_spread.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	position:absolute;
	top:67px;
	right:35px;
}

div.DottedLine{
	background-image:url(../images/mb_bill.png);
	background-position:0px 0px;
	background-repeat:repeat-x;
	height:2px;
	margin:0px 10px;
}

div.Syn_ErrDottedLine{
	background-color:#c4c29d;
	height:2px;
	margin:0px 10px;
}

div.ErrDottedLine{
	background-color:#d4d3b9;
	height:2px;
	margin:0px 10px;
}

td.BillInfoTitle{
	color:#000;
	font-family:Arial;
	width:68px;
	padding:10px 0px 0px 10px;
}

span.BillInfoAmt{
	color:#f84919;
}

td.BillInfoDetail{
	color:#000;
	font-family:Arial;
	padding:10px 10px 0px 0px;
	text-align:right;
}

span.Amt{
	font-family:Arial;
	color:#f84919;
	font-size:20px;
	font-weight:bold;
}

span.MchName{
	color:#f84919;
	font-weight:bold;
}

div.BillInfoArea{
	padding-bottom:10px;
}

div.Alias{
	background-color:#e4e9ee;
	background-image:url(../images/mb_bill.png);
	background-position:0px -8px;
	background-repeat:repeat-x;
	height:13px;
	margin-bottom:10px;
}

div.ExplainArea{
	margin-top:10px;
}

p.ExplainWords{
	font-family:Arial;
	padding:10px 0px 10px 10px;
	margin:0px;
}
ol.ExplainWords{
	margin:0px;
	padding-bottom:10px;
}

li.ExplainWords{
	font-family:Arial;
	padding-right:10px;
	line-height:20px;
}

div.Menu{
	height:36px;
	margin:0px 20px;
	position:relative;
	top:1px;
}

div.Syn_PayAreaContainer{
	margin:0px 20px;
}

div.Asyn_PayAreaContainer{
	margin:0px 20px;
	margin-bottom:10px;
}

div.PayResultContainer{
	margin:0px 20px;
	margin-top:10px;
}

div.PayResultWords{
	padding:0px 10px;
	padding-bottom:5px;
	line-height:18px;
	color:#0054d2;
}

iframe.PayArea{
	border:none;
	width:100%;
	margin-bottom:10px;
}

table.PayAreaTable{
	padding:0px;
	margin:0px;
	border-collapse:collapse;
	width:100%;
}

div.PayTop{
	background-color:#fff;
	border: 1px solid #b8b8b8;
	border-bottom:none;
	height:10px;
}

div.ContentBgMid{
	background-color:#fff;
	border-left: 1px solid #b8b8b8;
	border-right: 1px solid #b8b8b8;
	font-size:14px;
}

div.ProcessingTip{
	height:100px;
	text-align:center;
	line-height:100px;
}
/*支付区域背景边界样式*/
td.PayTop_L{
	background-image:url(../images/bg_round_angle_white.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	height:10px;
	width:10px;
	padding:0px;	
}

td.PayTop_M{
	border:none;
	background-color:#fff;
	background-image:url(../images/bg_round_angle_white.png);
	background-position:0px -41px;
	background-repeat:repeat-x;
	height:8px;
	margin:0px;
	padding:1px;
}

td.PayTop_R{	
	background-image:url(../images/bg_round_angle_white.png);
	background-repeat:no-repeat;
	background-position:0px -10px;
	height:10px;
	width:10px;
	padding:0px;	
}

td.PayBottom_L{
	background-image:url(../images/bg_round_angle_white.png);
	background-repeat:no-repeat;
	background-position:0px -20px;
	height:10px;
	width:10px;	
	padding:0px;
}

td.PayBottom_M{	
	border:none;
	background-color:#fff;
	background-image:url(../images/bg_round_angle_white.png);
	background-position:0px -43px;
	background-repeat:repeat-x;
	height:8px;
	margin:0px;
	padding:1px;
}

td.PayBottom_R{
	background-image:url(../images/bg_round_angle_white.png);
	background-repeat:no-repeat;
	background-position:0px -30px;
	height:10px;
	width:10px;	
	padding:0px;
}

td.PayInfoTitle{
	font-family:Arial;
	padding:0px;
	padding-left:10px;
	width:90px;
	text-align:right;
	color:#424348;
}

div.PayInfoTitle{
	font-family:Arial;
	padding:0px;
	padding-left:10px;
	width:90px;
	text-align:right;
	color:#424348;
	float:left;
	line-height:30px;
}
/*用于屏幕宽度小于240像素的手机*/
div.PayInfoTitle_Small{
	font-family:Arial;
	padding:0px;
	padding-left:10px;
	width:110px;
	text-align:left;
	color:#424348;
	float:left;
	line-height:30px;
}
/*用于手机号码支付的短信发送提示*/
div.PayInfoTitle_Confirm{
	font-family:Arial;
	padding:0px;
	padding-left:65px;
	width:85px;
	text-align:left;
	color:#424348;
	height:25px;
	float:left
}
/*用于屏幕宽度小于240像素的手机*/
div.PayInfoTitle_Confirm_Small{
	font-family:Arial;
	padding:0px;
	padding-left:10px;
	width:90px;
	text-align:left;
	color:#424348;
	height:25px;
	float:left
}

td.NetpayTitle{
	font-family:Arial;
	padding:0px;
	padding-left:10px;
	width:70px;
	text-align:right;
	color:#424348;
}
div.NetAccNoTitle{
	font-family:Arial;
	padding:0px;
	padding-left:10px;
	width:auto;
	text-align:center;
	line-height:30px;
	color:#424348;
	float:left;
}
div.NetpayTitle{
	font-family:Arial;
	padding:0px;
	padding-left:10px;
	width:70px;
	text-align:right;
	line-height:30px;
	color:#424348;
	float:left;
}

td.ModifyTitle{
	font-family:Arial;
	padding:0px;
	padding-left:10px;
	width:100px;
	text-align:right;
	color:#424348;
}

td.PayInfoDetail{
	font-family:Arial;
	padding:0px;
	padding-right:10px;
	color:#424348;
}

div.PayInfoDetail{
	font-family:Arial;
	padding:0px;
	color:#424348;
	float:left;
}

td.horizon{
	padding:7px 0px;	
}

div.VerifyCodeSendTip{
	font-family:Arial;
	padding-left:80px;
	padding-bottom:7px;
}

div.WarmTip{
	font-family:Arial;
	font-size:14px;
	padding:0px 10px;
	padding-bottom:7px;
	text-align:left;
	color:#6eb708;
}

input.InputBox{
	font-family:Arial;
	margin:0px;
	font-size:16px;
	height:24px;
	width:120px;
	line-height:24px;
}

input.InputBoxTip{
	font-family:Arial;
	margin:0px;
	font-size:16px;
	height:24px;
	line-height:24px;
	color:#999;
}

input.InputBoxTip2{
	font-family:Arial;
	margin:0px;
	font-size:12px;
	height:24px;
	line-height:24px;
	color:#999;
}
span.TdInnerWord{
	font-family:Arial;
	padding:0px 5px;
}

div.SevenPaddingTop{
	padding-top:7px;
}

div.SevenPadding{
	padding-top:7px;
	padding-bottom:7px;
}

div.horizon{
	background-color:#b8b8b8;
	height:1px;
}

/*按钮样式*/
div.GetVerifyBtn{
	color:#424348;
	background-color:#fff;
	background-image:url(../images/getverifybutton.png);
	height:30px;
	width:90px;
	display:inline-block;
	vertical-align:bottom;
	line-height:30px;
	text-align:center;
}

td.Btn_L{
	background-image:url(../images/mb_btn.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
	width:9px;
	height:40px;
	padding:0px;
}

td.Btn_M{
	background-image:url(../images/mb_btn.png);
	background-position:0px -81px;
	background-repeat:repeat-x;
	height:38px;
	border:none;
	padding:1px;
	text-align:center;
	line-height:30px;
}

td.Btn_R{
	background-image:url(../images/mb_btn.png);
	background-position:0px -40px;
	background-repeat:no-repeat;
	width:9px;
	height:40px;
	padding:0px;
}

div.Syn_Btn{
	font-size:18px;
	color:#fff;
	cursor:pointer;
	height:40px;
	margin:10px 20px;
	margin-bottom:0px;
}

/*图标*/
div.SuccIcon{
	height:40px;
	width:40px;
	background-image:url(../images/tip_icon.png);
	background-position:0px -40px;
}

div.ErrIcon{
	height:40px;
	width:40px;
	background-image:url(../images/tip_icon.png);
	background-position:0px 0px;
}

div.ErrIcon2{
	height:40px;
	width:40px;
	background-image:url(../images/tip_icon.png);
	background-position:0px 0px;
}

div.TipIcon{
	height:40px;
	width:40px;
	background-color:#fff;
	background-image:url(../images/tip_icon.png);
	background-position:0px -80px;
}

div.TipWords{
	color:#6eb708;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding-left:10px;
}

div.TipWords2{
	color:#6eb708;
	font-family:Arial;
	font-size:14px;
	padding-left:10px;
	text-align:left;
}

div.ErrTipWords{
	color:#545454;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding-left:10px;
}

div.ErrMsgWords{
	color:#f00;
	font-family:Arial;
	font-size:14px;
	padding:20px 10px 10px 10px;
}

div.TipContainer{
	text-align:center;
	padding:10px 10px;
}

input.CheckBox{
	margin-left:100px;
	margin-top:15px;
}
/*附加码图片样式*/
img.VerifyCodeImg
{
	vertical-align:top;
}
/*卡类型名称*/
label.CardType{
	padding-right:15px;
}

div.CardType{
	line-height:30px;
}

/*手机号码列表*/
select{
	height:30px;
	font-size:16px;
	font-family:Arial;
}

/*卡号输入框*/
#txtCardNo{	
	font-family:Arial;
	margin:0px;
	font-size:16px;
	height:24px;
	line-height:24px;
}
/*登录手机银行链接样式*/
ul.MobileWapBank{
	padding-left:20px;
	font-size:14px;
	font-family:Arial;
}