body {
    width: 100%;
    background-color: #eeeeee;
}

/*moreMenu*/
.Menu_content {
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.Menu_content .menu {
    display: block;
    width: 100%;
    height: 72px;
    background-image: url(../images/indexMenu.png);
    background-size: 100% 100%;
    position: relative;
}

.Menu_content .menu .index1 {
    background-image: url(../images/index.png);
}

.Menu_content .menu .index2 {
    background-image: url(../images/jifen.png);
}

.Menu_content .menu .index3 {
    background-image: url(../images/wodezhangdan.png);
}

.Menu_content .menu .index4 {
    background-image: url(../images/edu.png);
}

.Menu_content .menu .index5 {
    background-image: url(../images/bankajindu.png);
}

.Menu_content .menu .index6 {
    background-image: url(../images/woyaobanka.png);
}

.Menu_content .menu .index7 {
    background-image: url(../images/tuijian.png);
}

.Menu_content .menu .index8 {
    background-image: url(../images/huodong.png);
}

.Menu_content .menu .pageLink {
    display: block;
    padding-left: 40px;
    margin-left: 16px;
    height: 24px;
    background-position: left center;
    line-height: 24px;
    font-size: 16px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    color: #333333;
    background-size: 24px auto;
}
