	@charset "utf-8";
	/* CSS Document */
	/*@import "menu.css";*/
	/** 清除内外边距  */
	body, h1, h2, h3, h4, h5, h6, hr, p,
	blockquote, /* structural elements 结构元素 */
	dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
	pre, /* text formatting elements 文本格式元素 */
	form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
	th, td, /* table elements 表格元素 */
	img/* img elements 图片元素 */,select,option{
	border:medium none;
	margin: 0;
	padding: 0;font-family:"微软雅黑";
	list-style:none;border:none;
	border:none;
	background-color:none;
	
	overflow: hidden; /*隐藏了小三角，因为宽度为110px,而select宽度为130px*/border-width:0px;border-top-style: none; border-right-style: none; 
border-left-style: none; 
border-bottom-style: none;
	}
	/** 设置默认字体 **/
	body,button, input, select, textarea {
	font: 12px/1.5 '微软雅黑',tahoma, Srial, helvetica, sans-serif; }
	h1, h2, h3, h4, h5, h6 { font-size: 100%; }
	em{font-style:normal;}
	/** 重置列表元素 **/
	ul, ol { list-style: none;}
	/** 重置超链接元素 **/
	a { text-decoration: none; color:#000;}
	/** 重置图片元素 **/
	/** 重置表格元素 **/
	table { border-collapse: collapse; border-spacing: 0; }
	*{padding:0;margin:0;font-size:12px;}
	button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0; }
	button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; background-color:transparent;}
	input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
	input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
	button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
	textarea { overflow: auto; vertical-align: top; resize: vertical; }
	input:valid, textarea:valid {  }
	input:invalid, textarea:invalid {}
	select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
	}
	
	
	/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
	select::-ms-expand { display: none; }
	
	body{width:100%;background-color:#eeeeee;}
	#control_card{font-size:13px;line-height:39px;color:#333333;width:95%;height:39px;list-style:none;background-color:#fafafa;border-bottom:1px solid #eeeeee;padding-left:5%;}
	/*BillingDetails*/
	.BillingDetails_content{width:100%;background-color:white;padding-bottom:20px;overflow:scroll}
	.BillingDetails_content .Billing_box{width:100%;height:70px;border-bottom:1px solid #eeeeee;}
	.BillingDetails_content .Billing_box #BillingName{font-size:14px;color:#666666;float:left;margin-left:16px;line-height:40px;}
	.BillingDetails_content .Billing_box #BillingStage{font-size:14px;color:#999999;float:right;margin-right:16px;line-height:40px;}
	.BillingDetails_content .Billing_box #periodEndDate{font-size:12px;color:#999999;float:left;margin-left:16px;line-height:20px;clear:left;}
	.BillingDetails_content .Billing_box #currencyCode{font-size:14px;color:#666666;float:right;margin-right:16px;line-height:20px;clear:right;}
	.BillingDetails_content .readMore{width:80%;height:36px;text-align:center;line-height:36px;font-size:16px;background-color:#fafafa;margin-left:10%;color:#666666;border-radius:8px;margin-top:20px;border:1px solid #eeeeee;}
	
	/*bottom*/
	.bottom_box{width:100%;height:100px;border-top:2px solid #b20429;-moz-border-top-colors:#b20429;background-color:white;}
	.bottom_box .copy_a{height:40px;float:left;margin-left:16%;color:#666666;font-size:15px;line-height:40px;font-size:16px;}
	.bottom_box .help_a{height:40px;float:right;margin-right:16%;color:#666666;font-size:15px;line-height:40px;font-size:16px;}
	.bottom_box .hot_line{display:block;clear:both;color:#aaaaaa;font-size:13px;width:100%;text-align:center;line-height:24px;}