
	body{width:100%;background-color:#f9f9f9;}
	/*select*/
	.input_box{font-size:14px;line-height:48px;color:#666666;width:90%;margin-left:5%;height:48px;list-style: none;border:1px solid #eaeaea;background-color:white;border-radius:4px;-webkit-border-bottom-radius:4px;margin-bottom:10px;margin-top:10px;position:relative;}
	.input_box .input_name{padding-left:12px;font-family:"微软雅黑";color:#666666;line-height:48px;font-size:14px;float:left;}
	.input_box .input_content{font-family:"微软雅黑";color:#666666;line-height:48px;font-size:12px;position:absolute;left:90px;width:40%;}
	.input_box .input_yama{float:right;display:block;line-height:32px;color:#666666;font-size:12px;line-height:32px;border:1px solid #eeeeee;background-color:#fafafa;width:70px;margin-right:5px;margin-top:7px;}
	.input_box .yama{float:right;display:block;height:26px;color:#999999;font-size:12px;line-height:26px;border:1px solid #eeeeee;background-color:#fafafa;width:60px;margin-right:5px;margin-top:8px;z-index:10000;}
	.input_box .yama img{width:60px;}
	#loginBtn{clear:both;display:block;font-size:14px;line-height:42px;color:white;width:90%;margin-left:5%;height:42px;border:1px solid #eaeaea;border-radius:4px;-webkit-border-bottom-radius:4px;margin-bottom:10px;margin-top:10px;background-color:#9f1f31;}
	.tip{font-size:12px;width:100%;text-align:center;color:#cccccc;display:block;}
	.mima{font-size:12px;float:right;color:#999999;margin-right:5%;margin-bottom:20px;}
	.control_card {
		width: 66%;
		padding-left: 2px;
		font-size: 14px;
		line-height: 48px;
		color: #999999;
		z-index: 10000;
		float: right;
		padding-right: 20px;
		margin-right: 4px;
		background-image: url(../images/morebg.jpg);
		background-color: transparent;
		background-size: 22px 13px;
		background-repeat: no-repeat;
		background-position: right center;
		text-align: center;
	}
	 option{width:100%;height:48px;display:block;line-height:48px;display:block;font-size:14px;text-align:center;}
	 .control_card .value_mun{font-size:4em;width:100%;height:50px;text-align:center;line-height:50px;}
	 .logo{width:42%;margin-top:50px;margin-bottom:40px;margin-left:29%;display:block;}