
	body{width:100%;background-color:#eeeeee;}
	/*select*/
	.control_card{font-size:13px;line-height:40px;color:#666666;padding-left:16px;width:100%;height:40px;list-style: none;background-image:url(../images/select_bg.png);background-size:100% 100%;}
	 option{width:100%;height:40px;display:block;line-height:40px;display:block;font-size:24px;}
	 .control_card .value_mun{font-size:4em;width:100%;height:50px;text-align:center;line-height:50px;}
	/*查询不到 积分显示*/
	.myPointNull{color:#999999;width:70%;font-size:13px;margin-top:10px;margin-left:15%;display:block;text-align:center;}
	.myPointImg{width:60px;display:block;position:relative;left:50%;margin-left:-30px;}
	
	/*选择币种*/
	.credit_box .checked_box{position:absolute;left:0;top:18px;}
	.credit_box .checked_box div{color:#666666;font-size:14px;}
	.credit_box .checked_box span{color:#666666;font-size:14px;}
	.credit_box input[type="radio"]{margin-left:14px;margin-right:6px;border-radius:50%;width:16px;height:16px;-webkit-border-radius:50%;-moz-border-radius:50%;border:1px solid #aaaaaa;margin-top:6px;}
	/*额度显示*/
	.credit_box{width:100%;background-color:white;position:relative;padding-bottom:20px;}
	.credit_box .help{width:22px;height:22px;position:absolute;top:18px;right:14%;}
	#canvas-holder{margin-left:auto;margin-right:auto;padding-top:60px;padding-bottom:10px;}
	.credit_box .canvas_content{position:absolute;width:50%;left:25%;top:110px;}
	.credit_box .canvas_content .credit_title{width:100%;display:block;font-size:16px;text-align:center;color:#333333;}
	.credit_box .canvas_content .credit_value{width:100%;display:block;font-size:20px;text-align:center;color:#000;}
	.credit_box .canvas_content .credit_value span{font-size:20px;color:#000;}
	.credit_box .canvas_content .no_value{width:100%;display:block;font-size:14px;text-align:center;color:#999999;}
	.credit_box .canvas_content .no_value span{font-size:14px;color:#999999;}
	.creditTip {width:60%;margin-left:20%;}
	.creditTip #state{font-size:14px;color:#666666;width:100%;text-align:left;}
	.creditTip img{width:12px;height:12px;float:left;margin-top:9px;}
	.creditTip span{font-size:14px;color:#666666;margin-left:10px;line-height:30px;}
	.creditTip .state{font-size:14px;color:#666666;margin-left:30px;line-height:30px;}
	.credit_box input[type=button]{font-size:16px;width:90%;height:40px;line-height:40px;color:white;background-color:#e05d4f;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;margin-left:5%;margin-top:10px;}/*.ad_btn{width:90%;height:42px;line-height:42px;color:white;background-color:#e05d4f;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}*/
	/*error*/
	.error_box{width:100%;height:100%;position:fixed;background-image:url(../images/black.png);left:0;top:0;display:none;}
	.error_box .tip_box{width:72%;position:relative;left:14%;top:50%;margin-top:-100px;background-color:white;border-radius:12px;-webkit-border-radius:12px;-moz-border-radius:12px;}
	.error_box .tip_box .tip_title{display:block;width:100%;text-align:center;line-height:40px;margin-top:10px;font-size:16px;color:#333333;}
	.error_box .tip_box .tip_content{display:block;width:80%;margin-left:10%;font-size:12px;color:#666666;line-height:30px;}
	.error_box .tip_box .tip_close{display:block;width:24px;height:24px;background-image:url(../images/close.png);position:absolute;right:10px;top:10px;background-size:100% 100%;}
	.error_box .tip_box .tip_close2{display:block;width:100%;font-size:16px;color:#e05d4f;line-height:40px;border-top:2px solid #e05d4f;text-align:center;}
	