	body{width:100%;background-color:white;}
	.IntegrationContainer{background-color:white;}
	/* 积分显示*/
   	.myPoint_box .myPoint_view .help{width:22px;height:22px;padding-top:6px;}
	.myPoint_box{width:100%;}
	.myPoint_box .myPoint_view{width:100%;position:relative;overflow:hidden;background-color:white;border-bottom:1px solid #fafafa;margin-bottom:20px;padding-bottom:50px;}
	.myPoint_box .myPoint_view .pointTitle{margin-left:18px;font-size:16px;margin-top:18px;float:left;color:#666666;}
	.myPoint_box .myPoint_view .help_box{position:relative;float:right;color:#ed6139;font-size:14px;margin-right:16px;line-height:36px;margin-top:12px;}
	.myPoint_box .myPoint_view .pointValueBox{clear:both;color:#ed6139;font-size:14px;width:100%;text-align:center;padding-top:10px;}
	.myPoint_box .myPoint_view .pointValueBox .pointValue{font-size:36px;}
	.myPoint_box .myPoint_view .check_dt{background-image:url(../images/checkJifen_dt.png);width:89px;height:28px;background-size:100% 100%;position:absolute;right:16px;top:120px;}

	.IntegrateDate{width:80%;height:42px;text-align:center;line-height:42px;font-size:16px;background-color:#e05d4f;margin-left:10%;color:white;border-radius:8px;margin-top:80px;border:1px solid #eeeeee;margin-bottom:16px;}