	/*PointDetails*/
	body{background-color:#eeeeee;}
	.PointDetails_content{width:100%;padding-bottom:20px;background-color:#eeeeee;}
	.PointDetails_content .productName{line-height:39px;color:#333333;width:90%;height:39px;background-color:#fafafa;border-bottom:1px solid #eeeeee;padding-left:5%;padding-right:5%;}
	.productName .name{font-size:14px;color:#333333;float:left;}
	.productName .dynamicData{font-size:14px;color:#666666;float:right;}
	.PointDetails_content .PointDetails_title{font-size:14px;text-align:center;line-height:40px;color:#999999;}
	
	
	