	body{background-color:white;}
		/*PointFinitePeriod*/
	.PointFinitePeriod_content{width:100%;background-color:#eeeeee;}
	.PointFinitePeriod_content .PointFinitePeriod_title{font-size:14px;text-align:center;line-height:40px;color:#999999;}
	
	