<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration >
<configuration scan="true" scanPeriod="1 seconds" debug="true">
	<!-- 控制台输出 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
	    <Encoding>UTF-8</Encoding> 
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-18(%d{HH:mm:ss.SSS}]%thread)[%-5level %logger{60}]->%msg%n</pattern>
		</layout>
		<charset>UTF-8</charset>
	</appender>
	<!-- 文件输出 -->
	<appender name="base_log" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
		<Encoding>UTF-8</Encoding> 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
			<fileNamePattern>/app/wcb/log/ebank/base/%d{yyyyMMdd}base_log.%i.log</fileNamePattern> <!-- 文件名称 -->
			<maxHistory>30</maxHistory><!-- 存档日期设置 --> 
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"> 
				<MaxFileSize>400MB</MaxFileSize> <!-- 设置大小 -->
			</TimeBasedFileNamingAndTriggeringPolicy> 
		</rollingPolicy> 
		<encoder> 
			<pattern>[%-18(%d{HH:mm:ss.SSS}]%thread)[%-5level %logger]-> %msg%n</pattern> 
		</encoder> 
		<charset>UTF-8</charset> 
	</appender> 


	<!-- 报错日志 -->
	<appender name="error_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <Encoding>UTF-8</Encoding> 
	    <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>ERROR</level> 
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>
        </filter> 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/app/wcb/log/ebank/error/%d{yyyyMMdd}error_log.%i.log</fileNamePattern>
			<maxHistory>30</maxHistory><!-- 存档日期为30天 -->
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"> 
				<MaxFileSize>400MB</MaxFileSize> <!-- 设置大小 -->
			</TimeBasedFileNamingAndTriggeringPolicy> 
		</rollingPolicy>
		<encoder>
			<pattern>[%-18(%d{HH:mm:ss.SSS}]%thread)[%-5level %logger]-> %msg%n</pattern>
		</encoder>
		<charset>UTF-8</charset>
	</appender>
	<logger name="com.yada.wechatbank" level="DEBUG" />
	<logger name="org.springframework" level="DEBUG" />
	<root level="WARN">
	    <appender-ref ref="stdout" />
	    <appender-ref ref="base_log"/>
		<appender-ref ref="error_log" />
	</root>
</configuration>  