@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
body{background:#d4f0d3;}
header{height:38px; background:#2e6d05; text-align:center; color:#fff; padding-top:7px; box-shadow:5px 0 5px #555; margin-bottom:15px; font-size:24px;}
.main1{margin:15px; background:#2e6d05; color:#fff; border-radius:8px; padding-top:10px; padding-bottom:10px; border:1px solid #fff; box-shadow:0 0 5px #555;}
.main1 h2{font-size:18px; font-weight:100; margin:10px;}
.main1 p{ margin:10px;}
.main2{margin:15px; background:#2e6d05; color:#fff; border-radius:8px; border:1px solid #fff; box-shadow:0 0 5px #555;}
.main2 td span{display:block; margin:0 auto;}
.left1{ width:30px; background:#e9e9e9; text-align:center; font-size:36px; color:#3b3b3b; border-radius:8px 0 0 8px;}
.left2{ width:74px; background:#e9e9e9; text-align:center; font-size:36px; color:#3b3b3b; border-radius:8px 0 0 8px;}
.main2 td input{display:inline-block; width:12px; height:12px;}
.main2 td strong{font-size:10px; font-weight:100;color:#fff;}
.main2 table{width:100%;}
.table1{text-align:center;}
.main2 .table1 td{width:25%; border-right:#4da810 1px solid;}
.main2 .table1 td:last-child{border-right:#4da810 0px solid;}
.sub-b{ margin:15px;}
.sub{display:block; width:100%; height:50px; font-size:20px;
background-image: -webkit-gradient(linear, left top, left bottom, from( #79a15f /*{a-bup-background-start}*/), to( #2f6d06 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #79a15f /*{a-bup-background-start}*/, #2f6d06 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #79a15f /*{a-bup-background-start}*/, #2f6d06 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #79a15f /*{a-bup-background-start}*/, #2f6d06 /*{a-bup-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #79a15f /*{a-bup-background-start}*/, #2f6d06 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #79a15f /*{a-bup-background-start}*/, #2f6d06 /*{a-bup-background-end}*/);
border-radius: 8px;
	border: 1px solid #534a4f;
	color:#fff;}
.main2 td .b-1{font-size:40px;}
.main2 td .t1{display:inline-block; width:50px; height:40px; font-size:32px; text-align:center;}










.team-flag {
    background-image: url(../../images/worldcup/circle_flag.png);
    height: 42px;
    width: 42px;
}
.team-flag-span01 {
    background-position: 0 0;
}
.team-flag-span02 {
    background-position: 0 -42px;
}
.team-flag-span03 {
    background-position: 0 -84px;
}
.team-flag-span04 {
    background-position: 0 -126px;
}
.team-flag-span05 {
    background-position: 0 -168px;
}
.team-flag-span06 {
    background-position: 0 -210px;
}
.team-flag-span07 {
    background-position: 0 -252px;
}
.team-flag-span08 {
    background-position: 0 -294px;
}
.team-flag-span09 {
    background-position: 0 -336px;
}
.team-flag-span10 {
    background-position: 0 -378px;
}
.team-flag-span11 {
    background-position: 0 -420px;
}
.team-flag-span12 {
    background-position: 0 -462px;
}
.team-flag-span13 {
    background-position: 0 -504px;
}
.team-flag-span14 {
    background-position: 0 -546px;
}
.team-flag-span15 {
    background-position: 0 -588px;
}
.team-flag-span16 {
    background-position: 0 -630px;
}
.team-flag-span17 {
    background-position: 0 -672px;
}
.team-flag-span18 {
    background-position: 0 -714px;
}
.team-flag-span19 {
    background-position: 0 -756px;
}
.team-flag-span20 {
    background-position: 0 -798px;
}
.team-flag-span21 {
    background-position: 0 -840px;
}
.team-flag-span22 {
    background-position: 0 -882px;
}
.team-flag-span23 {
    background-position: 0 -924px;
}
.team-flag-span24 {
    background-position: 0 -966px;
}
.team-flag-span25 {
    background-position: 0 -1008px;
}
.team-flag-span26 {
    background-position: 0 -1050px;
}
.team-flag-span27 {
    background-position: 0 -1092px;
}
.team-flag-span28 {
    background-position: 0 -1134px;
}
.team-flag-span29 {
    background-position: 0 -1176px;
}
.team-flag-span30 {
    background-position: 0 -1218px;
}
.team-flag-span31 {
    background-position: 0 -1260px;
}
.team-flag-span32 {
    background-position: 0 -1302px;