<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd "
       default-lazy-init="false">

    <!-- 加载配置文件 -->
    <import resource="classpath:applicationContext-loader.xml"/>

    <context:component-scan base-package="com.yada.wechatbank.service.impl">
        <context:include-filter type="regex" expression=".service.BindingServiceImpl"/>
        <context:include-filter type="regex" expression=".service.SmsServiceImpl"/>
        <context:include-filter type="regex" expression=".service.WcbOAuthEntranceService"/>
    </context:component-scan>
    <!-- 注解驱动（用于扫描autowired注解） -->
    <context:annotation-config/>

    <!-- 数据访问层JPA的配置-->
    <import resource="classpath:applicationContext-jpa.xml"/>

    <!-- RMI -->
    <import resource="classpath:applicationContext-rmi.xml"/>

    <!-- Beans注入 -->
    <import resource="classpath:applicationContext-beans.xml"/>

    <!-- EhCache -->
    <import resource="classpath:/applicationContext-cache.xml" />

</beans>