<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="false">

    <bean id="httpClient" class="com.yada.wechatbank.client.MyHttpClient">
        <constructor-arg name="hostAddr" value="${httpClient.url}"></constructor-arg>
        <constructor-arg name="conTimeout" value="${httpClient.conTimeout}"></constructor-arg>
        <constructor-arg name="readTimeout" value="${httpClient.readTimeout}"></constructor-arg>
        <constructor-arg name="myMessageProducer" ref="messageProducer"></constructor-arg>
        <constructor-arg name="title" value="${mail.title}"></constructor-arg>
    </bean>

    <bean id="messageProducer" class="com.yada.wechatbank.kafka.MyMessageProducer">
    </bean>

    <!-- <bean id="exceptionHandler" class="com.yada.wechatbank.exception.ExceptionHandler"/> -->

</beans>
